.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.quote { /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  justify-content: center;
}
